## Plotting flux vs energy

In [1]:
import numpy as np

In [42]:
f = open('proton/p_AMS_PRL2015_ekin_000.txt')
lines = f.readlines()
p_AMS = []
for line in lines:
    if not line.startswith('#'):
        p_AMS.append([float(x) for x in line.split()])

In [43]:
p_AMS[0]

[0.4924, 0.0, 0.0, 830.4, 35.52, 35.52]

In [44]:
import pandas as pd

In [45]:
df = pd.DataFrame(p_AMS)

In [46]:
df

            0    1    2           3          4          5
0      0.4924  0.0  0.0  830.400000  35.520000  35.520000
1      0.6207  0.0  0.0  829.600000  28.300000  28.300000
2      0.7637  0.0  0.0  770.900000  21.220000  21.220000
3      0.9252  0.0  0.0  701.300000  17.480000  17.480000
4      1.1050  0.0  0.0  624.100000  14.190000  14.190000
..        ...  ...  ...         ...        ...        ...
67   482.1000  0.0  0.0    0.000554   0.000014   0.000014
68   583.1000  0.0  0.0    0.000336   0.000009   0.000009
69   731.6000  0.0  0.0    0.000186   0.000006   0.000006
70   975.1000  0.0  0.0    0.000086   0.000004   0.000004
71  1464.0000  0.0  0.0    0.000029   0.000002   0.000002

[72 rows x 6 columns]